* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input{
    outline: none;
}

:root {
    --bg-clr: rgba(183, 185, 185, 0.6);
    --txt-clr: rgb(19, 29, 29);
}

/* designing the container of the card */
.service-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 140px 0px;
    position: relative;
}

.service-card-container::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(10, 10, 46), rgb(255, 255, 255));
}

/* first service card design */

.first-service-card {
    max-width: 280px;
    background: var(--bg-clr);
    border: 2px solid rgb(46, 203, 255);
    box-shadow: 4px 4px 10px rgb(46, 203, 255), -4px -4px 10px rgb(46, 203, 255);
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    position: relative;
}

.first-service-card .card-image-div img {
    max-width: 275px;
}

.first-service-card .service-text .service-name,
.first-service-card .service-text .service-desc {
    color: var(--txt-clr);
    font-family: 'Courier Prime';
}

.first-service-card .service-text .service-name {
    font-size: 2rem;
    padding: 8px 2px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.first-service-card .service-text .service-desc {
    font-size: 1.rem;
    padding: 2px 5px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
}

.first-service-card .service-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.first-service-card .service-btn .card-btn {
    padding: 10px;
    margin: 5px 0px;
    font-size: 16px;
    color: var(--txt-clr);
    background: var(--bg-clr);
    border: none;
    text-align: center;
    align-self: center;
    justify-self: center;
    box-shadow: 1px 1px 3px rgb(46, 203, 255), -1px -1px 3px rgb(46, 203, 255);
}

.first-service-card .service-btn .card-btn:hover {
    transform: translateY(-5px);
    transition: 0.2s linear 0.1s;
}

/* second service card */
.second-service-card {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    height: 200px;
    border: 2px solid rgb(15, 181, 186);
    box-shadow: 4px 4px 10px rgb(4, 115, 87), -4px -4px 10px rgb(4, 115, 87);
    background: rgba(23, 106, 100, 0.5);
    position: relative;
}

.second-service-card .card-img-text {
    display: flex;
}

.second-service-card .card-img-text .card-text {
    color: rgba(255, 255, 244, 0.9);
    padding: 5px 5px;
    font-family: sans-serif;
}

.second-service-card .card-img-text .card-text .service-name {
    font-size: 1.8rem;
    padding: 2px 1px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.second-service-card .card-img-text .card-text .service-desc {
    font-size: 0.9rem;
    padding: 2px 5px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: justify;
}

.second-service-card .second-service-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.second-service-card .second-service-btn .card-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px 0px;
    border: none;
    border: 1px solid rgb(19, 17, 17);
}

.second-service-card .second-service-btn:hover .card-btn {
    transform: translateY(7px);
    transition: 0.5s linear 0.2s;
    box-shadow: 1px 1px 4px rgb(105, 188, 188), -1px -1px 4px rgb(105, 188, 188);
}

/* third service card */

.third-service-card {
    max-width: 280px;
    height: 380px;
    border: 2px solid gainsboro;
    background: url('https://images.unsplash.com/photo-1605732563938-8f8d4e7ad651?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbnRhaW5lcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -100px -0px; */
    overflow: hidden;
    box-shadow: 4px 4px 10px rgb(43, 106, 188), -4px -4px 10px rgb(43, 106, 188);
    position: relative;
}

.third-service-card .card-content .card-text {
    color: rgb(230, 225, 225);
    padding: 10px 5px;
    font-family: sans-serif;
}

.third-service-card .card-content .card-text .service-name {
    font-size: 2rem;
    padding: 3px 1px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.third-service-card .card-content .card-text .service-desc {
    font-size: 1.1rem;
    padding: 2px 5px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: justify;
}

.third-service-btn {
    width: 100%;
    position: absolute;
    bottom: -60px;
    display: flex;
    justify-content: center;
}

.third-service-card:hover .third-service-btn {
    transform: translateY(-90px);
    transition: 0.5s linear 0.2s;
}

.third-service-btn .card-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px 0px;
    border: none;
    border: 1px solid rgb(13, 188, 188);
    box-shadow: 2px 2px 4px rgb(43, 106, 188), -2px -2px 4px rgb(43, 106, 188);
}

/* second container for service card */

.second-service-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 140px 0px;
    position: relative;
}

.second-service-card-container::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(27, 31, 30), rgb(255, 255, 255));
}

.first-animi-service-card{
    position: relative;
    height: 400px;
    max-width: 280px;
    border: 2px solid darkgray;
    background: rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transform: rotateY(-5deg);
    display: flex;
}

.service-card-content{
    padding: 30px 10px 0px 10px;
    font-family: sans-serif;
}

.first-animi-service-card .first-hole, .first-animi-service-card .second-hole{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    background: transparent;
    border: 1px solid rgb(255, 239, 239);
    z-index: 1000;
} 

.first-animi-service-card .first-hole{
    top: 8px;
    left: 20px;
}

.first-animi-service-card .second-hole{
    top: 8px;
    right: 20px;
}

.first-animi-service-card .first-ring, .first-animi-service-card .second-ring{
    position: absolute;
    top: -12px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 3px solid rgb(10, 10, 46);
    z-index: 1000;
}

.first-animi-service-card .first-ring{
    left: 10px;
    transform: rotateY(8deg);
}

.first-animi-service-card .second-ring{
    right: 15px;
    transform: rotateY(7deg);
}

.service-card-content .service-card-text .service-card-heading{
    font-size: 2rem;
    padding: 5px 2px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #aae2dd;
}

.service-card-content .service-card-text .service-card-desc{
    font-size: 1rem;
    padding: 5px 2px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #aae2dd;
    text-align: justify;
}

.service-card-content .card-btn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-card-content .card-btn .btn{
    padding: 10px 20px;
    margin: 5px 0px;
    font-size: 16px;
    color: darkgray;
    background: transparent;
    border: none;
    text-align: center;
    align-self: center;
    justify-self: center;
    box-shadow: 1px 1px 3px rgb(46, 203, 255), -1px -1px 3px rgb(46, 203, 255);
}

.first-animi-container{
    position: relative;
    perspective: 100px;
    z-index: 10;
}

.first-animi-container:hover .form-card{
    transition: 2s linear 0.2s;
    opacity: 1;
    transform: rotateX(360deg);
    transform-style: preserve-3d;
    transform: rotateY(-5deg);
}


.form-card{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
    width: 280px;
    border: 2px solid darkgray;
    background: rgb(1, 251, 213);
    transform: rotateY(10deg);
    opacity: 0;
    z-index: 1;
}

.form-card #form{
    margin-top: 40px;
    color: white;
}

#form > div{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    margin: 5px auto;
}

input, textarea, select{
    font-size: 18px;
    background: transparent;
    border: none;
    resize: none;
    border-bottom: 1px solid rgb(2, 108, 99);
    outline: none;
}

label{
    font-size: 20px;
    color: rgba(0, 60, 239, 0.46);
    margin: 2px 0px;
}

/* second service card container */

.second-animi-container{
    position: relative;
    perspective: 100px;
}

.second-animi-service-card{
    width: 280px;
    height: 400px;
    border: 2px solid rgb(7, 233, 233);
    box-shadow: 2px 2px 4px lightblue, -2px -2px 4px lightblue;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-6deg);
}

.second-animi-service-card .second-card-content-container .card-text{
    margin-top: 30px;
}

.second-animi-service-card .second-card-content-container .card-text .card-heading, .second-animi-service-card .second-card-content-container .card-text .card-para{
       color: rgba(242, 249, 250, 0.511);
       letter-spacing: 1px;
       word-spacing: 1px;
       text-align: justify;
       margin: 2px 5px 1px 30px;
       font-family: 'Courier New', Courier, monospace;
       font-weight: 600;
}

.second-animi-service-card .second-card-content-container .card-text .card-heading{
    font-size: 2rem; 
}

.second-animi-service-card .second-card-content-container .card-btn-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.second-animi-service-card .second-card-content-container .card-btn-container .card-btn{
    padding:10px 20px;
    margin: 5px 0px;
    font-size: 16px;
    color: var(--txt-clr);
    background: transparent;
    border: none;
    text-align: center;
    align-self: center;
    justify-self: center;
    box-shadow: 1px 1px 3px rgb(0, 255, 187), -1px -1px 3px rgb(46, 203, 255);
}

.second-animi-service-card .first-ring, .second-animi-service-card .second-ring{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 3px solid rgb(14, 184, 68);
    z-index: 100;
}

.second-animi-service-card .first-ring{
    left: -18px;
    top: 10%;
    transform: rotateX(-115deg);
}

.second-animi-service-card .second-ring{
    left: -18px;
    bottom: 10%;
    transform: rotateX(115deg);
}

.second-animi-service-card .first-hole, .second-animi-service-card .second-hole{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    background: transparent;
    border: 1px solid rgb(255, 239, 239);
    z-index: 100;
}

.second-animi-service-card .first-hole{
    top: 12%;
    left: 3px;
}

.second-animi-service-card .second-hole{
    bottom: 46px;
    left: 3px;
}

.second-animi-container .form-card{
    position: absolute;
    z-index: 10;
}

.second-animi-container:hover .form-card{
    opacity: 1;
    transform: rotateY(-6deg);
    transition: 1s linear 0.2s;
}

#form .form-btn-container{
    display: flex;
    width: 80%;
}

#form .form-btn-container .form-btn{
    padding: 8px 16px;
    width: 80px;
    margin: 5px 0px;
    font-size: 16px;
    border: none;
    text-align: center;
    align-self: flex-end;
    box-shadow: 1px 1px 3px rgb(231, 3, 52), -1px -1px 3px rgb(0, 0, 0);
}